# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore large model files
*.pt
*.bin
*.h5

# Ignore Hugging Face cache
~/.cache/huggingface/

# Ignore dataset cache
~/.cache/datasets/
datasets/
*.csv
*.json
*.tsv

# Ignore Jupyter notebook execution outputs
*.out
*.log
*.ipynb_checkpoints/

# Ignore temporary files
.DS_Store
Thumbs.db
